<% if user_signed_in? %>

Thanks for being a member of our website. 

<% else %>

<div class="jumbotron">
	<div class="container"> 
<h1>Welcome to One Month Rails </h1>
<p>You've found the homepage for the one month <a href=http://www.espn.com>rails </a>tutorial </p>

<p>



<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-lg" %>

</p>

<% end %>

	<div class="footer">
		<small>
			By <a href="mailto:haywardwr@gmail.com">Bill Hayward </a>

	</div>


	</div>
</div>

